<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div id='cardemo' class="demo">
    <div id='trainrun'>
        <div class='x-item'>要启动，请点车；要加速，请继续点车。</div>
        <div>
            <div class="x-item">慢车</div>
            <div class="x-item">快速</div>
            <div class="x-item">直达</div>
            <div class="x-item">高铁</div>
        </div>
    </div>
</div>
</body>
<script src="/javascripts/nej/src/define.js?pro=./"></script>
<script src="/javascripts/testNej.js"></script>
</html>
